/bin
/Osmer-1.0.1-android-2.3.x.apk
/Osmer-1.0.1-release.apk
/Dopodomani.info
/googleDebugApiKey.txt
/hs_err_pid23825.log
/hs_err_pid888.log
/logo_sun_gradient-512x512.bmp
/logo_sun_gradient-512x512.png
/logo_sun_gradient-lighter-512x512.xcf
/Oggi.info
/osmer_logo_gimp.xcf
/SituazioneGenerale.txt
/gen
